/*移动端优化 隐藏左侧导航*/
@media all and (max-width: 500px) {
  #MainList {
    flex-direction: column;
  }
  #LeftNav {
    display: none;
  }
}

@media all and (min-width: 500px) {
  #BottomTabs {
    display: none;
  }
}

a {
  text-decoration: none;
}
